<footer>
  <div class="sobre">
    <p>
      SOBRE <br />
      Meu nome é Luiz Herbet Souza<br />
      Sou estudante de engenharia de computação <br />
      Desenvolvedor Júnior JavaScript Node.Js
    </p>
  </div>
  <div class="cv">
    <div class="btn-footer">
      <a
        href="https://api.whatsapp.com/send?phone=5541997900455"
        target="_blank"
        >Contato</a
      >
    </div>
    <div class="btn-footer">
      <a href="https://onlinecurriculo.com.br/r/EGc9r9pLp" target="_blank"
        >Dowload CV</a
      >
    </div>
  </div>
</footer>
