<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <main>
      <div class="mainlayer">
        <div class="notebook">
          <img src="/img/book.webp" alt="notebook" />
        </div>
        <div class="texto">
          <p>
            Diario de bordo é um app web para escrita de registros <br />
            Para salvar suas anotações e pensamentos do dia-a-dia<br />
            Gratuito e fácil de usar<br />
            <br />
            "Escrever é tomar decisões constantemente." <br />
            Rubem Fonseca <br />
          </p>
        </div>
      </div>
    </main>
    <%- include('layouts/footer'); -%>
  </body>
</html>
